In [1]:
import pandas as pd
import numpy as np
from scipy import sparse

In [2]:
data = sparse.load_npz("data/data_cleaned.npz").todense()
data

matrix([[0.084556, 0.138594, 0.094304, ..., 0.      , 0.      , 0.      ],
        [0.050734, 0.762265, 0.754431, ..., 0.      , 0.      , 0.      ],
        [0.101468, 0.138594, 0.377215, ..., 0.      , 0.      , 0.      ],
        ...,
        [0.050734, 0.346484, 0.188608, ..., 0.      , 0.      , 0.      ],
        [0.084556, 2.39074 , 0.848735, ..., 0.      , 0.      , 0.      ],
        [0.084556, 0.20789 , 0.282912, ..., 0.      , 0.      , 0.      ]])

In [3]:
df = pd.DataFrame(data).loc[:, 5000:]
df

,5000,5001,5002,5003,5004,5005,5006,5007,5008,5009,...,8983,8984,8985,8986,8987,8988,8989,8990,8991,8992
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15534,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15535,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15536,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15537,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15538,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
df.sum()  # number of instances of each class

5000       3.0
5001     130.0
5002       2.0
5003    1006.0
5004     170.0
         ...
8988       1.0
8989       1.0
8990       1.0
8991       2.0
8992       1.0
Length: 3993, dtype: float64

In [5]:
df.loc[df.sum(axis=1) != 0]

,5000,5001,5002,5003,5004,5005,5006,5007,5008,5009,...,8983,8984,8985,8986,8987,8988,8989,8990,8991,8992
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15534,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15535,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15536,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15537,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15538,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
predictions = pd.read_csv("data/predictions.csv", header=None)
predictions

,0,1,2,3,4,5,6,7,8,9,...,3983,3984,3985,3986,3987,3988,3989,3990,3991,3992
0,-34600.277,40330.076,22806.803,-31526.370,40603.618,27142.259,21665.965,-33859.268,4249.744,-27348.752,...,14717.742,-36439.477,-25461.386,-41640.801,-35671.607,-9360.627,2272.552,-999.105,42350.464,-34295.513
1,1257.250,-31874.746,-1532.602,18701.361,-20518.147,-3188.622,17370.687,1985.209,-9538.824,36339.557,...,19252.274,24702.071,43658.551,47290.887,-22855.989,-44564.958,14498.962,26636.371,-32876.054,-36085.705
2,3241.108,-42436.076,-27004.686,-14821.808,3806.164,-14023.017,41702.866,-30031.789,44037.843,12919.844,...,38645.298,41574.017,18559.587,-38441.403,-14629.160,42287.804,-8429.227,-3040.249,-8505.950,-35185.180
3,-19803.772,37302.171,45119.691,45977.504,16605.294,-34614.112,-37863.300,-21069.485,-7281.037,-13864.291,...,49359.466,44672.391,-11393.250,-13950.709,-5116.276,-7243.676,-16376.777,2410.046,-16331.660,-38210.035
4,17512.600,-33004.020,5244.843,29694.191,10730.871,-5813.908,-28589.785,-7635.052,-42025.230,45860.027,...,-19943.138,-34047.280,-13824.709,36547.715,26810.074,-24342.881,-15890.788,25771.235,23411.677,-2230.829
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2484,43892.341,-38137.879,-17735.141,254.138,-8179.897,17353.726,-17573.483,31490.166,-40653.632,14052.890,...,-1775.534,-21851.214,-8071.600,18730.534,24939.842,47497.962,-37005.862,-29864.459,-43470.459,-29852.606
2485,30367.633,-6365.253,-15645.920,29330.043,-34229.130,42944.913,13654.151,42054.688,25653.203,-35630.308,...,17323.722,43480.195,7733.297,37614.299,-16921.711,775.153,-36953.568,39566.983,-27776.293,29568.446
2486,-20245.642,8228.984,-16058.237,-27963.522,203.795,-40867.617,40793.405,18852.451,-35688.018,28923.141,...,-16717.493,7949.471,-31530.522,-35569.767,7677.366,-10258.032,-20335.638,42410.076,-22114.236,48446.201
2487,10826.328,45323.696,-28339.733,30653.013,1750.772,-38022.194,8260.069,20984.496,-46529.930,-7590.778,...,-21599.307,-42064.555,7906.434,-13401.517,-4554.132,5270.411,-19187.068,-29795.396,12616.078,3351.004
2488,-9063.794,-12403.286,-20455.532,-34093.095,8162.163,-5356.894,-6727.639,-13597.194,32975.151,-25246.622,...,49149.071,41625.254,-46425.992,33347.877,-48953.165,-7312.939,32500.753,-15531.694,45655.691,17763.309

In [7]:
test = pd.read_csv("data/test_no_label.csv", index_col=0)
test

       labels                                           features
ex_id
0         NaN  0:0.101468 1:0.554374 2:0.235760 3:0.065255 8:...
1         NaN  0:0.050734 1:0.103945 2:0.330063 3:0.130509 4:...
2         NaN  0:0.084556 1:0.866210 2:0.330063 3:0.326274 4:...
4         NaN  0:0.084556 1:0.138594 2:0.141456 3:0.130509 4:...
5         NaN  0:0.067645 1:0.242539 2:0.094304 3:0.065255 4:...
...       ...                                                ...
3803      NaN  0:0.033823 1:0.207890 2:0.094304 3:0.130509 4:...
3804      NaN  0:0.118379 1:0.173242 2:0.518671 3:0.195764 4:...
3805      NaN  0:0.067645 1:0.103945 2:0.188608 3:0.130509 4:...
3806      NaN  0:0.084556 1:1.039452 2:0.141456 3:0.195764 4:...
3807      NaN  0:0.033823 1:0.138594 2:0.141456 3:0.130509 4:...

[2489 rows x 2 columns]